.cards__header {
    margin: 0;
    margin-top: 9px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}

.cards__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(25% - 23px);
    list-style-type: none;
}

.card__top {
    position: relative;
    height: 387px;
}

.card__info {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    padding-top: 11px;
    padding-left: 14px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 16.0566px 22px -8px rgb(82 73 131 / 0.1), 0 8.02828px 8.02828px -4.01414px rgb(26 32 44 / 0.04);
    flex-grow: 1;
}

.card__color-button--active {
    outline: solid 3px #000;
    outline-style: double;
}

.color__but--active {
  outline: solid 3px #000;
  outline-style: double;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.numbering {
    position: absolute;
    right: 18px;
    bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    color: #7981AD;
}

.numbering__direction {
    display: flex;
    padding: 6px 8px 6px 5px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.numbering__direction--right {
    transform: rotate(180deg);
}

.numbering__number--card {
    margin: 0;
}

.hand__cards-img {
    transform: rotate(180deg);
}

.card__name {
    margin: 0;
    font-size: 24px;
    line-height: 105.5%;
    font-weight: 600;
    color: #272525;
}

.card__description {
    width: 100%;
    font-size: 12px;
    line-height: 105.5%;
    font-weight: 400;
    color: #272525;
}

.card__color {
    display: flex;
    margin-top: auto;
    margin-bottom: 15px;
    padding: 0;
}

.color__list {
    list-style-type: none;
}

.card__color-button {
    width: 24px;
    height: 24px;
    margin: 0;
    margin-right: 4.5px;
    padding: 0 0.5px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 50%;
}

.card__color-button--purple {
    background-color: #524983;
}

.card__color-button--green {
    background-color: #309F85;
}

.card__color-button--silver {
    background-color: #F1F1F1;
}

.card__price {
    margin: 0;
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 105.5%;
    font-weight: 600;
    color: #C4C4C4;
}

.card__cart {
    position: absolute;
    right: 11px;
    bottom: 17px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.hand__cards {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 13px;
    margin-left: 31px;
}

.hand {
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #ECE7F0;
    border: none;
    border-radius: 50%;
}

.reduction {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
    color: #454747;
}

.reduction__item {
    width: 23%;
}

.reduction__title {
    margin-top: 1px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 130%;
    font-weight: 600;
}

.reduction__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
}

.reduction__text-color {
    margin-top: 20px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: #524983;
}

.decor {
    position: relative;
    margin-top: 111px;
    padding-bottom: 290px;
}

.decor__img {
    margin-left: 200px;
}

.decor__idea {
    max-width: 790px;
    margin-top: 26px;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}

.decor__text {
    width: 592px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0.065em;
    color: #454747;
}

.colortext {
    color: rgb(132 202 116);
}

.decor__connect {
    width: 300px;
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: #222227;
}

.book {
    display: flex;
    justify-content: space-between;
    width: 723px;
}

.decor__book {
    margin-top: 35px;
}

.order {
    width: 100%;
    max-width: 336px;
}

.order__field {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.order__input {
    width: 100%;
    padding-top: 4px;
    color: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(1 0 0);
    outline: none;
}

.order__field.error .order__input,
.order__field.error .order__input::placeholder {
    color: #f45656;
    border-color: #f45656;
}

.order__error-msg {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    font-size: 14px;
    color: #f45656;
    pointer-events: none;
    transform: translateY(-50%);
}

.order__field.error .order__error-msg {
    display: block;
}

.decor__order-line {
    width: 336px;
    margin-bottom: 34px;
    border: 1px solid #272525;
}

.decor__picture {
    position: absolute;
    top: -39px;
    right: 146px;
}

.date__text {
    width: 250px;
    color: #454747;
    border: none;
}

.order__button {
    display: inline-block;
    margin-top: 7px;
    padding: 21px 102px;
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
    text-decoration: none;
    color: #eef1f6;
    cursor: pointer;
    background-color: #1fab8a;
    border: none;
    border-radius: 60px;
}

.order__button:hover,
.order__button:focus {
    background-color: #1B886E;
}

.order__button:active {
    background-color: #156B57;
}


.wave {
    position: absolute;
    z-index: -1;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.decor-wave {
    top: -93px;
}


@media (width <=1500px) {
    .card {
        width: calc(35% - 32px);
        margin-top: 21px;
        margin-right: 2px;
    }

    .card:nth-of-type(4) {
        display: none;
    }

    .cards__list {
        margin: 0;
    }

    .card__info {
        margin-top: -2px;
        border-radius: 15px;
        box-shadow: 0 16.0566px 22px -8px rgb(82 73 131 / 0.1), 0 8.02828px 8.02828px -4.01414px rgb(26 32 44 / 0.04);
    }

    .numbering--card {
        right: 12px;
        bottom: 9px;
        padding: 3px;
    }

    .hand__window {
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
    }

    .numbering__arrow--card {
        width: 9px;
        height: 17px;
    }

    .numbering__number--card {
        font-size: 10px;
        font-weight: 400;
    }

    .card__name {
        font-size: 19.26px;
        line-height: 105.5%;
        font-weight: 600;
    }

    .card__description {
        margin-top: 8px;
        font-size: 9.63px;
        line-height: 105.5%;
        font-weight: 400;
    }

    .card__color {
        margin-top: 12px;
    }

    .card__color-button {
        width: 19.26px;
        height: 19.26px;
        margin-top: 1px;
    }

    .card__price {
        margin-bottom: 9px;
        font-size: 19.26px;
        line-height: 105.5%;
        font-weight: 600;
    }

    .card__cart-image {
        width: 36.46px;
        height: 36.9px;
    }

    .card__cart {
        right: 8px;
        bottom: 14px;
    }


    .hand__cards {
        margin-right: 0;
    }

    .reduction {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        margin-top: 74px;
    }

    .reduction__item {
        width: 39%;
    }

    .reduction__text-color {
        margin-top: -15px;
    }

    .decor {
        margin-top: 131px;
        padding-bottom: 217px;
    }

    .decor__idea {
        max-width: 550px;
        margin-top: 38px;
        line-height: 53px;
    }

    .decor__text {
        margin-top: 22px;
    }

    .decor__book {
        margin-top: 60px;
    }

    .decor__picture {
        top: -173px;
        right: 0;
        width: 580px;
        height: 533px;
        overflow: hidden;
    }

    .decor__picture-img {
        position: absolute;
        top: 0;
        right: -154px;
        width: 580px;
        height: 533px;
        object-fit: cover;
    }

    .decor-wave {
        top: 300px;
        transform: scaleY(2) translateY(-36%);
    }
}

@media (width <=999px) {
    .cards__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 16px;
    }

    .card {
        width: calc(50% - 14px);
        margin-top: 1px;
        margin-right: -0;
        margin-bottom: 24px;
    }

    .card:nth-of-type(4) {
        display: block;
    }

    .cards__header {
        margin-top: 0;
    }

    .card__info {
        border-radius: 15px;
        box-shadow: 0 16.0566px 22px -8px rgb(82 73 131 / 0.1), 0 8.02828px 8.02828px -4.01414px rgb(26 32 44 / 0.04);
    }

    .numbering--card {
        right: 11px;
        bottom: 13px;
    }

    .card__name {
        margin-top: 0;
        font-size: 22.2267px;
        line-height: 105.5%;
        font-weight: 600;
    }

    .card__description {
        margin-top: 13px;
        font-size: 11.1134px;
        line-height: 105.5%;
        font-weight: 400;
    }

    .card__color {
        margin-top: 9px;
    }

    .card__color-button {
        width: 22.23px;
        height: 22.23px;
        margin-top: 1px;
    }

    .card__price {
        margin-bottom: 10px;
        font-size: 22.2267px;
    }

    .card__cart-image {
        width: 44px;
        height: 44px;
    }

    .card__cart {
        right: 10px;
        bottom: 18px;
    }

    .numbering__arrow--card {
        width: 9px;
        height: 19px;
    }

    .numbering__direction--card {
        padding: 2px 9px;
    }

    .reduction {
        display: none;
    }

    .decor {
        margin-top: 132px;
        padding-bottom: 190px;
    }

    .decor__img {
        margin-top: 14px;
    }

    .decor__order {
        top: 352px;
        left: 409px;
    }

    .decor__picture {
        top: 7px;
        right: 0;
        width: 335px;
        height: 318px;
    }

    .decor__picture-img {
        top: 11px;
        right: -99px;
        width: 335px;
        height: 318px;
    }

    .decor-wave {
        transform: scaleY(2.6) translateY(-29%);
    }
}

@media (width <=767px) {
    .card {
        width: calc(50% - 8px);
        margin-top: 7px;
        margin-bottom: -9px;
    }

    .cards__header {
        margin-top: 10px;
        font-size: 28px;
        line-height: 34px;
    }

    .card__info {
        margin-top: -8px;
        margin-bottom: 16.5px;
        padding-left: 9px;
        border-radius: 15px;
        box-shadow: 0 16.0566px 22px -8px rgb(82 73 131 / 0.1), 0 8.02828px 8.02828px -4.01414px rgb(26 32 44 / 0.04);
    }

    .card__name {
        width: 180px;
        margin-top: 0;
        font-size: 13.4338px;
        line-height: 105.5%;
        font-weight: 600;
    }

    .card__description {
        margin-top: 7px;
        font-size: 6.71689px;
        line-height: 105.5%;
        font-weight: 400;
    }

    .card__color {
        margin-top: 7px;
    }

    .card__color-button {
        width: 13.43px;
        height: 13.43px;
        margin-top: 1px;
    }

    .numbering--card {
        right: 2px;
        bottom: 7px;
    }

    .numbering__direction--card {
        padding: 2px 7px;
    }

    .numbering__arrow--card {
        width: 6px;
        height: 11px;
    }

    .numbering__number--card {
        font-size: 7px;
    }

    .card__price {
        margin-bottom: 7px;
        font-size: 13.4338px;
        line-height: 105.5%;
        font-weight: 600;
    }

    .card__cart-image {
        width: 26px;
        height: 26px;
    }

    .card__cart {
        right: 4px;
        bottom: 26px;
    }

    .hand__cards {
        margin-right: 27px;
    }

    .decor {
        margin-top: 80px;
        padding-bottom: 159px;
    }

    .decor__img {
        display: block;
        width: 206px;
        height: 41px;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
    }

    .decor__basis-image {
        margin-top: 134px;
        margin-left: 105px;
    }

    .decor__idea {
        width: 450px;
        margin-top: 39px;
        margin-right: auto;
        margin-left: auto;
        font-size: 28px;
        line-height: 110.9%;
        text-align: center;
    }

    .decor__book {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 1px;
    }

    .decor__text {
        width: 100%;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
    }

    .decor__connect {
        width: 465px;
        margin-top: 49px;
        margin-right: auto;
        margin-left: auto;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    .decor__picture {
        position: relative;
        width: 200px;
        height: 344px;
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        overflow: visible;
    }

    .decor__picture-img {
        width: 367px;
        height: 344px;
    }

    .order {
        margin-top: 65px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .decor-wave {
        top: 882px;
        transform: scaleY(2.6) translateY(-33%);
    }
}

@media (width <=479px) {
    .card {
        width: calc(100% - 1px);
        margin-top: -6px;
        margin-bottom: 8px;
    }

    .cards__header {
        margin-top: 22px;
        font-size: 28px;
        line-height: 34px;
    }

    .card__info {
        margin-bottom: 20.5px;
        padding-left: 11px;
        border-radius: 15px;
        box-shadow: 0 16.0566px 22px -8px rgb(82 73 131 / 0.1), 0 8.02828px 8.02828px -4.01414px rgb(26 32 44 / 0.04);
    }

    .card__name {
        width: 238px;
        margin-top: 5px;
        font-size: 17.7778px;
        line-height: 105.5%;
        font-weight: 600;
    }

    .card__description {
        margin-top: 9px;
        font-size: 8.88889px;
        line-height: 105.5%;
        font-weight: 400;
    }

    .card__color {
        margin-top: 9px;
    }

    .card__color-button {
        width: 17.78px;
        height: 17.78px;
        margin-top: 1px;
    }

    .numbering--card {
        right: 12px;
        bottom: 8px;
    }

    .numbering__arrow--card {
        width: 8px;
        height: 16px;
    }

    .card__price {
        margin-bottom: 6px;
        font-size: 17.7778px;
        line-height: 105.5%;
        font-weight: 600;
    }

    .card__cart {
        right: 6px;
        bottom: 30px;
    }

    .pagination {
        margin-top: 4px;
    }

    .card__cart-image {
        width: 34px;
        height: 34px;
    }

    .hand {
        width: 35px;
        height: 35px;
        margin-left: 28px;
    }

    .hand__cards {
        margin-left: 28px;
    }

    .decor {
        padding-bottom: 97px;
    }

    .decor__basis {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .decor__img {
        width: 154px;
        height: 34px;
    }

    .order {
        width: 280px;
        margin-top: 40px;
    }

    .decor__idea {
        max-width: 100%;
        margin-top: 33px;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
    }

    .decor__text {
        width: 89%;
        margin-left: 15px;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
    }

    .decor__connect {
        max-width: 250px;
        margin-top: 45px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .decor__order-line {
        width: 280px;
        margin-bottom: 35px;
    }

    .decor__picture {
        margin-top: 90px;
    }

    .decor__picture-img {
        right: -362px;
        width: 366px;
        height: 345px;
        transform: translate(-83%, -11%);
    }

    .decor__book {
        justify-content: center;
        max-width: 100%;
        margin-top: 1px;
    }

    .decor-wave {
        top: 880px;
        transform: scaleY(3.3) translateY(-33%);
    }
}
