.hero__txt {
    max-width: 730px;
}

.header-hero__navigation {
    display: flex;
    justify-content: space-between;
    max-width: 545px;
    margin-top: 74px;
}

.header__navigation {
    font-size: 18px;
    line-height: 105.5%;
    font-weight: 600;
    text-decoration: none;
    color: #3C336C;
}

.header-hero__image {
    position: absolute;
    right: 127px;
    bottom: 0;
    width: 50vw;
}

.specification__text {
    margin: 0;
    margin-top: 20px;
    font-size: 36px;
    line-height: 130%;
    font-weight: 600;
    color: #272525;
}

.specification__txt {
    margin-top: 20px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: #454747;
}

.specification__txt--purple {
    margin: 0;
    margin-bottom: 40px;
    color: #524983;
}

.guide__txt {
    margin-top: 113px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 105.5%;
    font-weight: 700;
    color: #272525;
}

.guide__info {
    position: relative;
}

.description {
    position: relative;
    max-width: 853px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.description__txt {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 130%;
    font-weight: 600;
    color: #272525;
}

.description__string--active .description__txt {
    font-weight: 700;
    color: #3C336C;
}

.description__text {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: #454747;
}

.description__item {
    margin: 0;
    padding-left: 23px;
    line-height: 130%;
}

.description__img {
    position: absolute;
    top: 38px;
    right: 0;
    padding: 2px;
    cursor: pointer;
}

.description__string--active .description__img {
    top: 45px;
    transform: rotate(180deg);
}

.description__string {
    position: relative;
    padding-top: 30px;
    padding-bottom: 19px;
    cursor: pointer;
    border-bottom: 8px solid #F1F0F8;
}

/* .description__float {
    display: none;
} */

.description__float:not(.open) {
    display: none;
}


.description__string--active .description__float {
    display: block;
}

.guide-image {
    position: absolute;
    right: 0;
    bottom: 90px;
}

.reach {
    position: relative;
}

.reach__promo {
    display: flex;
    justify-content: space-between;
    max-width: 990px;
    margin-top: 70px;
    padding-bottom: 192px;
}

.contacts {
    position: relative;
    margin-top: 46px;
}

.contacts__text {
    display: flex;
    font-size: 48px;
    line-height: 103%;
    font-weight: 700;
    color: #272525;
}

.contacts__img {
    margin-left: 20px;
}

.contacts__mail {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 103%;
    font-weight: 600;
    color: #272525;
}

.contacts__phone {
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 37px;
    font-weight: 800;
    color: #272525;
}

.contacts__socials {
    display: flex;
    justify-content: space-between;
    width: 143px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.slogan__text {
    margin-left: 240px;
    font-size: 48px;
    line-height: 105.5%;
    font-weight: 700;
    color: #272525;
}

.slogan__txt {
    max-width: 300px;
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: #222227;
}

.slogan__book {
    margin-left: 240px;
}

.contacts__logo {
    padding: 2px;
    cursor: pointer;
}

.contacts__link {
    text-decoration: none;
    color: #272525;
}


@media (width <=1500px) {
    .header-hero__navigation {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .header__navigation1 {
        width: 100%;
    }

    .header__navigation2 {
        width: 24%;
        margin-top: 30px;
    }

    .header__navigation3 {
        width: 76%;
        margin-top: 30px;
    }

    .header-hero__image {
        right: -538px;
        bottom: -17px;
        width: 104vw;
    }

    .contacts {
        margin-top: 92px;
    }

    .specification__txt {
        max-width: 800px;
        margin-top: 20px;
    }

    .specification__text {
        margin-top: 9px;
        margin-bottom: 0;
    }

    .guide__txt {
        margin-top: 95px;
        margin-bottom: 0;
    }

    .description__txt-hidden {
        display: none;
    }

    .description {
        max-width: 958px;
    }

    .description__string {
        padding-top: 35px;
    }

    .guide-image {
        right: 46px;
        bottom: -405px;
        width: 361px;
        height: 361px;
    }

    .specification__text-one {
        margin-top: 62px;
    }

    .reach__promo {
        display: block;
        margin-top: 0;
        padding-bottom: 175px;
    }

    .slogan {
        margin-top: 90px;
    }

    .slogan__book {
        margin-left: 0;
    }

    .slogan__text {
        margin-left: 0;
    }
}

@media (width <=999px) {
    .hero__text {
        width: 300px;
        margin-top: 7px;
    }

    .hero__txt {
        letter-spacing: 0.004em;
    }

    .header-hero__navigation {
        margin-top: 47px;
    }

    .header-hero__image {
        right: -302px;
        bottom: 46px;
        width: 90vw;
    }

    .information__header-wave {
        transform: scaleY(2) translateY(-25%);
    }

    .specification__text {
        margin-top: 55px;
        font-size: 28px;
    }

    .specification__txt {
        font-size: 16px;
    }

    .specification__txt:nth-of-type(1) {
        max-width: 690px;
    }

    .guide__txt {
        margin-top: 87px;
        font-size: 36px;
    }

    .description__txt {
        font-size: 28px;
    }

    .guide-image {
        right: 2px;
        bottom: -387px;
    }

    .reach__promo {
        margin-top: 72px;
        padding-bottom: 107px;
    }

    .contacts__phone {
        margin-top: 13px;
        font-size: 28px;
    }

    .contacts__socials {
        margin-top: 7px;
    }

    .contacts__text {
        margin-top: 0;
        font-size: 36px;
    }

    .contacts__mail {
        margin-top: 36px;
        font-size: 28px;
    }

    .contacts {
        margin-top: 75px;
    }

    .contacts__img {
        width: 34px;
        height: 34px;
    }

    .slogan__text {
        margin-bottom: 30px;
        font-size: 36px;
    }

    .slogan__txt {
        font-size: 24px;
    }

    .slogan {
        margin-top: 86px;
    }
}

@media (width <=767px) {
    .hero__text {
        width: 280px;
        margin-top: -4px;
    }

    .hero__txt {
        width: 400px;
        margin-top: 20px;
        font-size: 14px;
    }

    .information__header-hero {
        min-height: 603px;
    }

    .header-hero__navigation {
        display: none;
    }

    .header-hero__image {
        right: 0;
        bottom: 28px;
        left: -23px;
        width: 500px;
    }

    .guide__txt {
        margin-top: 80px;
    }

    .description__string {
        padding-top: 32px;
    }

    .guide-image {
        display: none;
    }

    .specification__text {
        margin-top: 39px;
    }

    .specification__text-one {
        margin-top: 50px;
    }

    .specification__txt {
        max-width: 415px;
    }

    .reach__promo {
        margin-top: 0;
        padding-bottom: 153px;
    }

    .slogan {
        margin-top: 40px;
    }

    .slogan__book {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .contacts {
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .contacts__text {
        justify-content: center;
    }

    .contacts__socials {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .slogan__text {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .order__reach {
        margin-top: 7px;
    }
}

@media (width <=479px) {
    .hero__text {
        width: 220px;
        margin-top: 23px;
        margin-right: auto;
        margin-left: auto;
    }

    .hero__txt {
        width: 280px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 239px;
        line-height: 137%;
    }

    .header-hero__image {
        bottom: 0;
        left: -21px;
        width: 425px;
    }

    .specification__txt {
        line-height: 117%;
    }

    .guide__txt {
        margin-top: 62px;
        font-size: 28px;
    }

    .description__txt {
        font-size: 24px;
        text-align: center;
    }

    .description__string--active .description__txt {
        font-size: 28px;
        text-align: center;
    }

    .contacts__text {
        margin-bottom: 0;
        font-size: 28px;
        text-align: center;
    }

    .contacts__call {
        text-align: center;
    }

    .contacts__mail {
        margin-top: 43px;
        font-size: 24px;
        text-align: center;
    }

    .reach__promo {
        padding-bottom: 130px;
    }

    .contacts__phone {
        margin-top: 0;
        font-size: 24px;
        text-align: center;
    }

    .slogan__text {
        margin-bottom: 20px;
        font-size: 28px;
        text-align: center;
    }

    .slogan__txt {
        max-width: 250px;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    .contacts__image {
        width: 24px;
        height: 24px;
    }

    .contacts__img {
        margin-left: 10px;
    }

    .contacts__socials {
        width: 114px;
        margin-right: auto;
        margin-left: auto;
    }

    .slogan {
        margin-top: 55px;
    }

    .slogan__book {
        justify-content: center;
        max-width: 100%;
    }

    .order__reach {
        margin-top: 36px;
    }
}
