* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
}

.main-container {
    max-width: 1664px;
    margin: 0 auto;
    padding: 0 32px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.header-bg {
    background: linear-gradient(38.95deg, #9796F0 -10.38%, #FBC7D4 107.56%);
}

.page-header__top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 45px;
    font-size: 18px;
}

.header-nav__list{
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.page-header__profile-btn {
    margin-right: 34px;
    padding:  3px;
    font-size: 18px;
    line-height: 19px;
    color: #8E8E8E;
    background: transparent;
    border: none;
}

.header-image {
    margin-bottom: -12px;
}

.page-header__buttons {
    display: flex;
    align-items: center;
    color: #8E8E8E;
}

.page-header__button {
    padding: 3px;
    font-size: 18px;
    color: #8E8E8E;
    line-height: 19px;
    background: transparent;
    border: 0px;
}

.page-header__button.active {
    cursor: pointer;
    color: #272525;
    font-weight: 600;
}

.page-header__burger {
    display: none;
}

.page-header__search {
    width: 491px;
    height: 60px;
    margin-right: 3px;
    padding-left: 64px;
    font-size: 16px;
    line-height: 16.88px;
    outline: none;
    border-color: black;
    border-radius: 90px;
    background: url(/img/search.svg) no-repeat left;
    background-size: 4.2% ;
    background-position: 28px;
    border: 4px solid black;
}

.page-header__loupe {
    display: none;
}

.phone {
    display: inline-block;
    margin-right: 3px;
    padding: 20.5px 62px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    color: #EEF1F6;
    background-color: #1FAB8A;
    border-radius: 90px;
}

.phone:hover,
.phone:focus {
    background-color: #1B886E;
}

.phone:active {
    background-color: #156B57;
}

.header-nav {
    height: 100px;
    background: rgba(250, 251, 253, 0.44);
}

.header-nav__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0;
}

.header-list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #272525;
    list-style-type: none;
}

.header-list__item {
    height: 100%;
}

.header-list__navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #272525;
}

.header-list__navigation--active {
    color: #FAFBFD;
    background: #272525;
}

.header-list__navigation--active::after {
    position: absolute;
    bottom: -18px;
    left: 0;
    display: block;
    content: '';
    width: 179px;
    height: 8px;
    background-color: #272525;
    border-radius: 6px;
}

.header-text {
    margin-right: 16.5px;
    font-family: 'Neutraface Display';
    font-style: normal;
    font-weight: 900;
    font-size: 38.0443px;
    line-height: 38px;
    text-transform: lowercase;
    color: #3C336C;
}

.img-resize {
    max-height: 100px;
    width: auto;
}

.header-hero {
    overflow: hidden;
    position: relative;
    min-height: 605px;
    padding-bottom: 231px;
}

.header-hero__container {
    position: relative;
    z-index: 1;
    margin-right: 132px;
}

.header-hero__buttons {
    display: flex;
    margin-top: 44.5px;
    margin-left: -4px;
    align-items: center;
    color: #8E8E8E;
}

.header-hero__button.active {
    cursor: pointer;
    align-items: center;
    color: #7981AD;
}

.header-hero__button {
    padding:  4px;
    font-size: 14px;
    color: #524983;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    border: 0px;
}

.header-hero__main {
    max-width: 638px;
    margin: 0;
    margin-top: 15.5px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #272525;
}

.header-hero__description {
    max-width: 638px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.065em;
    color: #454747;
}

.header-hero__creation {
    margin-top: 41px;
}

.header-hero__ready {
    display: inline-block;
    width: 280px;
    height: 60px;
    left: 156px;
    top: 560px;
    padding: 18px 43px;
    align-items: center;
    font-weight: 500;
    font-size: 18.5px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #3C336C;
    border-radius: 60px;
}

.header-hero__create {
    width: 109px;
    height: 24px;
    margin-left: 42px;
    font-size: 17px;
    text-decoration: none;
    color: #524983;
}

.header-hero__picture {
    position: absolute;
    right: 39px;
    bottom: -154px;
    width: 62.1vw;
}

@media (max-width: 1500px) {

    .page-header__top {
        margin-top: -18px;
    }

    .header-image {
        width: 326px;
        height: 24px;
        margin-right: 9px;
        margin-bottom: -9px;
        margin-left: -28px;
        margin-right: -8.5px;
    }

    .page-header__search {
        width: 294.33px;
        height: 36.35px;
        margin-right: -2px;
        margin-top: 1px;
        font-size: 13px;
        border: 2.40592px solid black;
        padding-left: 40px;
        background-size: 3.6% ;
        background-position: 18px;
    }

    .page-header__search1 {
        display: none;
    }

    .phone {
        padding: 10.54px 37.29px;
        margin-right: -2px;
        margin-top: 1px;
        text-align: center;
        font-size: 14px;
        line-height: 14.5px;
    }

    .page-header__button,
    .page-header__buttons {
        font-size: 12px;
    }

    .page-header__buttons{
        margin-right: -23px;
    }

    .page-header__burger {
        display: none;
    }

    .page-header__profile-btn {
        margin: 0px;
        margin-right: 12px;
        margin-top: 2px;
    }

    .but-image {
        width: 19.95px;
        height: 20px;
        margin-right: 7px;
    }

    .header-list__navigation.current {
        margin-left: 20px;
        padding: 39.656px 20.25px;
        margin-right: 20px;
    }

    .header-hero__buttons {
        display: none;
    }

    .header-hero__main {
        width: 510px;
        height: 180px;
        margin-left: -12px;
        margin-top: 69px;
    }

    .header-list {
        margin-left: 22px;
    }

    .header-nav__container {
        margin-top: -5px;
    }

    .header-list__navigation {
        padding: 0 20px;
    }

    .header-list__navigation--active::after {
        position: absolute;
        bottom: -18px;
        left: 0;
        display: block;
        content: '';
        width: 139px;
        height: 8px;
        background-color: #272525;
        border-radius: 6px;
    }

    .header-text {
        width: 194px;
        margin-right: 5px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        text-transform: lowercase;
    }

    .img-resize {
        margin-right: 30px;
    }

    .header-hero__description {
        width: 543px;
        height: 42px;
        margin-left: -12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 152.5%;
        letter-spacing: 1px;
    }

    .header-hero__ready {
        display: inline-block;
        width: 245px;
        height: 60px;
        left: 156px;
        top: 560px;
        padding: 18px 43px;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        background: #3C336C;
        border-radius: 60px;
    }

    .header-hero__creation {
        margin-left: -12px;
        margin-top: 33px;
    }

    .header-hero__create {
        margin-left: 19px;
        letter-spacing: 0.5px;
        font-size: 17px;
    }

    .header-hero__create {
        font-size: 16px;
    }

    .header-hero__picture {
        position: absolute;
        right: -161px;
        bottom: -38px;
        width: 76.7vw;
    }
}

@media (max-width: 999px) {

    .page-header__top {
        padding-top: 0px;
        margin-top: 0;
    }

    .page-header__logo-link {
        font-size: 0;
    }
    .header-image {
        width: 229px;
        height: 18.38px;
        margin-bottom: -19px;
        margin-right: 9px;
        margin-left: -14px;
    }

    .phone {
        margin-top: 21px;
        margin-right: 0px;
    }

    .page-header__search {
        display: none;
    }

    .page-header__buttons {
        display: none;
    }

    .page-header__burger {
        display: block;
        margin-right: 0px;
        margin-top: 25px;
        text-decoration: none;
        background-color: transparent;
        border: none;
    }

    .page-header__loupe {
        display: block;
        margin-top: 25px;
        margin-left: 60px;
        border: none;
        background-color: transparent;
    }

    .header-nav{
        display: none;
    }

    .header-hero__main {
        width: 472px;
        height: 90px;
        margin-top: 26px;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.04em;
    }

    .header-hero__description {
        width: 389px;
        height: 63px;
        margin-left: -10px;
        margin-top: 21px;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.065em;
    }

    .header-hero__creation {
        margin-top: 37px;
    }

    .header-hero__picture {
        /* display: none; */
    }

    .header-hero__picture {
        display: block;
        position: absolute;
        right: -3px;
        bottom: 135px;
        width: 67.7vw;
    }
}

@media (max-width: 767px) {

    .page-header__top {
        margin-top: -3px;
    }

    .header-image {
        width: 210px;
        height: 16.86px;
        margin-top: 13px;
    }

    .page-header__loupe {
        margin-top: 33px;
        margin-left: 111px;
    }

    .phone {
        display: none;
    }

    .page-header__burger {
        margin-top: 36px;
        margin-right: -16px;
    }

    .header-hero__main {
        width: 434px;
        height: 90px;
        margin-top: 11px;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.00002em;
    }

    .header-hero__description {
        width: 261px;
        height: 84px;
        margin-left: -13px;
        margin-top: 21px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.00002em;
    }

    .header-hero__ready {
        width: 210px;
        height: 51px;
        margin-top: -6.5px;
        padding: 17px 22px;
        margin-bottom: 8px;

    }

    .header-hero__create {
        margin-left: 55px;
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.0002em;
    }

    .header-hero__picture {
        right: -44px;
        bottom: 174px;
        width: 76.7vw;
    }
}

@media (max-width: 479px) {
    .page-header__top {
        margin-top: -19px;
    }

    .main-container {
        padding: 0px 32px;
    }

    .header-nav {
        display: none;
        z-index: -1;
    }

    .header-image {
        width: 130px;
        margin-bottom: 0px;
        margin-left: -12px;
    }

    .page-header__loupe {
        width: 15.95px;
        height: 15.95px;
        margin-left: 30px;
        margin-bottom: 23px
    }

    .page-header__loupe-image {
        width: 15.95px;
        height: 15.95px;
        margin-left: 0px;
        margin-top: 0.6px;
        background-size: contain;
    }

    .page-header__burger-image {
        width: 21px;
        height: 13px;
        background-size: contain;
    }

    .page-header__burger {
        margin-left: -15px;
        margin-bottom: 20px;
    }

    .header-hero__main {
        width: 280px;
        height: 105px;
        margin-top: 23px;
        margin-left: -12px;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    .header-hero__description {
        width: 296px;
        height: 84px;
        margin-left: -19px;
        margin-top: 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
    }

    .header-hero__ready {
        width: 210px;
        height: 51px;
        margin-top: -6.5px;
        padding: 18px 22px;
        margin-bottom: 8px;
    }

    .header-hero__create {
        margin-left: 11px;
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
    }

    .header-hero__picture {
        right: -44px;
        bottom: 174px;
        width: 76.7vw;
    }

    .header-hero__creation {
        margin-top: 323px;
        margin-left: 23px;
    }

}
















/* Переместить до медиа выражений */
.burger-menu {
    /* display: none; */
    position: absolute;
    width: 280px;
    height: 542px;
    background: #FAFAFA;
    border-radius: 6px;
    background-color: #FAFAFA;
}

.burger-menu__header {
    display: flex;
    align-items: center;
    margin-left: 89px;
    margin-top: 25px;
    color: #8E8E8E;
    font-size: 12px;
}

.burger-menu__language {
    padding: 3px;
    font-size: 12px;
    color: #8E8E8E;
    line-height: 12.66px;
    background: transparent;
    border: 0px;
}

.burger-menu__language.active {
    cursor: pointer;
    color: #272525;
    font-weight: 600;
}

.burger-menu__man {
    padding: 2px;
    margin-left: 18px;
    border: none;
    background: transparent;
}

.burger-menu__class {
    padding: 1.88px;
    margin-left: 58.3px;
    background: transparent;
    border: none;
}

.burger-menu__sets {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 105.5%;
    color: #272525;
}

.burger-menu__all {
    width: 115px;
    margin-left: 83px;
    padding: 6px 0px 7px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 105.5%;
    color: #FAFBFD;
    text-align: center;
    border-radius: 6px;
    background: #272525;
}

.burger-menu__list {
    columns: 2;
    list-style-type: none;
}

 .burger-menu__text {
    text-decoration: none;
 }

 .burger-menu__clothes{
    list-style-type: none;
 }

 .burger-menu__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 105.5%;
    color: #8E8E8E;
 }

 .burger-menu__text--active {
    font-weight: 700;
    font-size: 12px;
    line-height: 105.5%;
    color: #272525;
    text-decoration: none;
 }

.burger-menu__info {
    position: absolute;
    width: 86px;
    height: 15px;
    left: 117px;
    top: 322px;
    font-weight: 500;
    font-size: 14px;
    line-height: 105.5%;
    text-align: center;
    color: #272525;
}

.burger-menu__mail {
    position: absolute;
    width: 133px;
    height: 16px;
    left: 94px;
    top: 380px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration:none;
    color: #454747;
    border-bottom: 1px #454747 solid;
}

.burger-menu__phone {
    margin-top: 200px;
}

.burger-menu__masagers {
    display: flex;
    margin-top: 12px;
}

.burger-menu__image {
    margin-left: 18.18px;
}
