* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
}

.main-container {
    max-width: 1664px;
    margin: 0 auto;
    padding: 0 32px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.header-bg {
    background: linear-gradient(38.95deg, #9796F0 -10.38%, #FBC7D4 107.56%);
}

.page-header__top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 45px;
    font-size: 18px;
}

.header-nav__list{
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.page-header__profile-btn {
    margin-right: 34px;
    padding:  3px;
    font-size: 18px;
    line-height: 19px;
    color: #8E8E8E;
    background: transparent;
    border: none;
}

.header-image {
    margin-bottom: -12px;
}

.page-header__buttons {
    display: flex;
    align-items: center;
    color: #8E8E8E;
}

.page-header__button {
    padding: 3px;
    font-size: 18px;
    color: #8E8E8E;
    line-height: 19px;
    background: transparent;
    border: 0px;
}

.page-header__button.active {
    cursor: pointer;
    color: #272525;
    font-weight: 600;
}

.page-header__burger {
    display: none;
}

.page-header__search {
    width: 491px;
    height: 60px;
    margin-right: 3px;
    padding-left: 64px;
    font-size: 16px;
    line-height: 16.88px;
    outline: none;
    border-color: black;
    border-radius: 90px;
    background: url(/img/search.svg) no-repeat left;
    background-size: 4.2% ;
    background-position: 28px;
    border: 4px solid black;
}

.page-header__loupe {
    display: none;
}

.phone {
    display: inline-block;
    margin-right: 3px;
    padding: 20.5px 62px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    color: #EEF1F6;
    background-color: #1FAB8A;
    border-radius: 90px;
}

.phone:hover,
.phone:focus {
    background-color: #1B886E;
}

.phone:active {
    background-color: #156B57;
}

.header-nav {
    height: 100px;
    background: rgba(250, 251, 253, 0.44);
}

.header-nav__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0;
}

.header-list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #272525;
    list-style-type: none;
}

.header-list__item {
    height: 100%;
}

.header-list__navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #272525;
}

.header-list__navigation--active {
    color: #FAFBFD;
    background: #272525;
}

.header-list__navigation--active::after {
    position: absolute;
    bottom: -18px;
    left: 0;
    display: block;
    content: '';
    width: 179px;
    height: 8px;
    background-color: #272525;
    border-radius: 6px;
}

.header-text {
    margin-right: 16.5px;
    font-family: 'Neutraface Display';
    font-style: normal;
    font-weight: 900;
    font-size: 38.0443px;
    line-height: 38px;
    text-transform: lowercase;
    color: #3C336C;
}

.img-resize {
    max-height: 100px;
    width: auto;
}

.header-hero {
    overflow: hidden;
    position: relative;
    min-height: 605px;
    /* padding-bottom: 230px; */
}

.header-hero__container {
    position: relative;
    z-index: 1;
}

.header-hero__buttons {
    display: flex;
    margin-top: 44.5px;
    margin-left: -4px;
    align-items: center;
    color: #8E8E8E;
}

.header-hero__button.active {
    cursor: pointer;
    align-items: center;
    color: #7981AD;
}

.header-hero__button {
    padding:  4px;
    font-size: 14px;
    color: #524983;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    border: 0px;
}

.header-hero__main {
    max-width: 638px;
    margin: 0;
    margin-top: 15.5px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #272525;
}

.header-hero__major {
    max-width: 638px;
    margin: 0;
    margin-top: 74.5px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #272525;
}

.header-hero__description {
    max-width: 638px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.065em;
    color: #454747;
}

.header-hero__text {
    max-width: 666px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.065em;
    color: #454747;
}

.header-hero__selection {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.header-hero__logo:nth-of-type(1) {
    position: absolute;
    left: 26px;
    top: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-hero__logo:nth-of-type(2) {
    position: absolute;
    left: 260px;
    top: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-hero__logo:nth-of-type(3) {
    position: absolute;
    left: 482px;
    top: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-hero__logos {
    position: relative;
    width: 85.56px;
    height: 85.56px;
    background: #EACEFF;
    border-radius: 50%;
}

.header-hero__only {
    max-width: 230px;
    margin-top: 19px;
    font-weight: 600;
    font-size: 21.8449px;
    line-height: 26px;
    text-align: center;
    color: #272525;
    text-decoration: none;
}

.header-hero__wave {
    position: absolute;
    left: 80px;
    top: 5px;
}

.header-hero__wave--active {
    position: absolute;
    left: -6px;
    top: 64px;
}

.header-hero__creation {
    margin-top: 41px;
}

.header-hero__ready {
    display: inline-block;
    width: 280px;
    height: 60px;
    left: 156px;
    top: 560px;
    padding: 18px 43px;
    align-items: center;
    font-weight: 500;
    font-size: 18.5px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #3C336C;
    border-radius: 60px;
}

.header-hero__create {
    margin-left: 42px;
    font-size: 17px;
    text-decoration: none;
    color: #524983;
}

.header-hero__picture {
    position: absolute;
    right: 259px;
    bottom: 133px;
    width: 41.1vw;
}

.header-hero__picture_main {
    position: absolute;
    right: 259px;
    bottom: -17px;
    width: 41.1vw;
}

.header-hero__picture_new {
    display: none;
}

.footer {
    position: relative;
    margin-left: 131px;
    margin-bottom: 30px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-servis {
    max-width: 488px;
    margin-top: 13px;
}

.footer-servis__text {
    margin-top: 11px;
    max-width: 401px;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.065em;
    color: #454747;
}

.footer-servis__phone {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #272525;
}

.footer-servis__mail {
    margin-top: 3px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #272525;
}

.footer-servis__tel {
    margin-top: 38px;
    margin-bottom: 0px;
}

.footer-servis__manager{
    margin-top: 28px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.footer-img {
    text-decoration: none;
    margin-right: 16px;
    padding: 2px;
}

.footer-roster__cat {
    max-width: 480px;
}

.footer-row {
    margin-left: 27px;
}

.footer-roster__list {
    padding: 0;
    margin: 0 auto;
}

.footer-roster__rank {
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #272525;
}

.footer-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 52px;
    color: #454747;
}

.footer-list {
    list-style-type: none;
    text-align: left;
}

.footer-manager {
    margin-right: 48px;
    margin-left: 82px;
}

.footer-roster__text{
    max-width: 280px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #8F90A6;
}

.footer-roster__tel {
    width: 277px;
    margin-top: 24px;
    border: 2px solid #272525;
    border-radius: 15px;
    padding: 4px;
}

.footer__phone{
    width: 200px;
    margin-right: 22px;
    padding: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #272525;
    border: none;
    outline: none;
}

.footer__arrow {
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #524983;
    position: absolute;
    right: 95px;
    top: 51%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-copy {
    margin-top: 8px;
    margin-left: -53px;
}

.footer-copy__corp {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #9FA3B2;
    margin: 0;
}

.footer-copy__conf{
    text-decoration-line: underline;
    color: #9FA3B2;;
}

@media (max-width: 1500px) {

    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-header__top {
        padding-top: 23px;
    }

    .header-image {
        width: 326px;
        height: 24px;
        margin-bottom: -9px;
        margin-left: -17px;
        margin-right: -8.5px;
    }

    .page-header__search {
        width: 294.33px;
        height: 36.35px;
        margin-right: -2px;
        margin-top: 1px;
        font-size: 13px;
        border: 2.40592px solid black;
        padding-left: 40px;
        background-size: 3.6% ;
        background-position: 18px;
    }

    .page-header__search1 {
        display: none;
    }

    .phone {
        padding: 10.54px 37.29px;
        margin-right: -2px;
        margin-top: 1px;
        text-align: center;
        font-size: 14px;
        line-height: 14.5px;
    }

    .page-header__button,
    .page-header__buttons {
        font-size: 12px;
    }

    .page-header__buttons{
        margin-right: -10px;
    }

    .page-header__burger {
        display: none;
    }

    .page-header__profile-btn {
        margin: 0px;
        margin-right: 12px;
        margin-top: 2px;
    }

    .but-image {
        width: 19.95px;
        height: 20px;
        margin-right: 7px;
    }

    .header-list__navigation.current {
        margin-left: 20px;
        padding: 39.656px 20.25px;
        margin-right: 20px;
    }

    .header-hero__buttons {
        display: none;
    }

    .header-hero__main {
        width: 510px;
        margin-top: 69px;
    }

    .header-hero__major {
        margin-top: 51.5px;
    }

    .header-list {
        margin-left: 2px;
    }

    .header-nav__container {
        margin-top: -5px;
    }

    .header-list__navigation {
        padding: 0 20px;
    }

    .header-list__navigation--active::after {
        position: absolute;
        bottom: -18px;
        left: 0;
        display: block;
        content: '';
        width: 139px;
        height: 8px;
        background-color: #272525;
        border-radius: 6px;
    }

    .header-text {
        width: 194px;
        margin-right: 5px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        text-transform: lowercase;
    }

    .img-resize {
        margin-right: 30px;
    }

    .header-hero__description {
        width: 543px;
        font-weight: 400;
        font-size: 14px;
        line-height: 152.5%;
        letter-spacing: 1px;
    }

    .header-hero__ready {
        display: inline-block;
        width: 245px;
        left: 156px;
        top: 560px;
        padding: 18px 43px;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        background: #3C336C;
        border-radius: 60px;
    }

    .header-hero__creation {
        margin-top: 33px;
    }

    .header-hero__create {
        margin-left: 19px;
        letter-spacing: 0.5px;
        font-size: 17px;
    }

    .header-hero__create {
        font-size: 16px;
    }

    .header-hero__picture {
        right: -161px;
        bottom: -38px;
        width: 76.7vw;
    }

    .header-hero__picture_main {
        right: 1px;
        bottom: 170px;
        width: 57.1vw;
    }

    .header-hero__logos {
        width: 52px;
        height: 52px;
    }

    .header-hero__wave {
        left: 44px;
        top: 2px;
        width: 22px;
        height: 22px;
    }

    .header-hero__wave--active {
        top: 36px;
        width: 22px;
        height: 22px;
    }

    .header-hero__logo:nth-of-type(1) {
        left: 32px;
        top: 224px;
    }

    .header-hero__logo:nth-of-type(2) {
        left: 171px;
        top: 224px;
    }

    .header-hero__logo:nth-of-type(3) {
        left: 306px;
        top: 224px;
    }

    .header-hero__only {
        margin-top: 9px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer {
        margin-left: 0px;
        margin-top: -74px;
    }

    .footer-nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-servis{
        width: 50%;
    }

    .footer-row{
        width: 12%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer-info{
        width: 24%;
    }

    .footer__arrow {
        right: 11px;
    }

    .footer-manager {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 22px;
    }

    .footer-roster__text {
        max-width: 350px;
        line-height: 18px;
        margin-left: 66px;
    }

    .footer-roster__tel {
        position: relative;
        margin-top: -9px;
    }

    .footer-copy {
        margin-top: 39px;
        margin-left: 0px;
    }
}

@media (max-width: 999px) {

    .page-header {
        height: 80px;
        background: rgba(250, 251, 253, 0.44);
    }

    .page-header__top {
        margin-top: 0;
        padding-top: 20px;
    }

    .page-header__logo-link {
        font-size: 0;
    }
    .header-image {
        width: 229px;
        height: 18.38px;
        margin-right: 9px;
        margin-left: 0px;
        margin-bottom: 0;
    }

    .phone {
        margin-right: 0px;
        margin-top: 0;
    }

    .page-header__search {
        display: none;
    }

    .page-header__buttons {
        display: none;
    }

    .page-header__burger {
        display: block;
        margin-right: 13px;
        text-decoration: none;
        background-color: transparent;
        border: none;
    }

    .page-header__loupe {
        display: block;
        margin-left: 60px;
        border: none;
        background-color: transparent;
    }

    .header-hero {
        padding-top: 22px;
    }

    .header-nav{
        display: none;
    }

    .header-hero__main {
        width: 472px;
        margin-top: 26px;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.04em;
    }

    .header-hero__major {
        margin-top: 38.5px;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 1.5px;
    }

    .header-hero__text {
        max-width: 425px;
        margin-top: 8px;
        font-size: 16px;
    }

    .header-hero__logo:nth-of-type(1) {
        left: 105px;
        top: 421px;
    }

    .header-hero__logo:nth-of-type(2) {
        left: 317px;
        top: 421px;
    }

    .header-hero__logo:nth-of-type(3) {
        left: 524px;
        top: 421px;
    }

    .header-hero__description {
        width: 389px;
        margin-top: 21px;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.065em;
    }

    .header-hero__creation {
        margin-top: 38px;
    }

    .header-hero__picture_main {
        right: -5px;
        bottom: 135px;
        width: 74.1vw;
    }

    .header-hero__picture {
        display: block;
        right: -3px;
        bottom: 135px;
        width: 67.7vw;
    }

    .footer {
        margin-top: -103px;
    }

    .footer-servis {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 700px;
    }

    .footer-row {
        width: 26%;
    }

    .footer-info {
        width: 26%;
        margin-left: 0px;
    }

    .footer-manager {
        width: 48%;
        display: block;
        margin-top: 0px;
    }

    .footer-image {
        max-width: 409px;
    }

    .footer-servis__text {
        max-width: 357px;
        margin-top: 6px;
        font-size: 16px;
    }

    .footer-servis__phone {
        font-size: 18px;
        line-height: 20px;
    }

    .footer-servis__mail {
        font-size: 18px;
        line-height: 21px;
    }

    .footer-servis__tel {
        margin-top: -4px;
    }

    .footer-servis__connect {
        margin-right: 31px;
    }

    .footer-servis__logo{
        margin-top: -3px;
    }

    .footer-roster__text {
        margin-left: 0;
    }

    .footer-roster__tel {
        margin-top: 20px;
    }

    .footer-copy {
        margin-top: 27px;
    }
}

@media (max-width: 767px) {

    .page-header__top {
        padding-top: 31px;
    }

    .header-image {
        width: 210px;
        height: 16.86px;
    }

    .page-header__loupe {
        margin-left: 111px;
    }

    .phone {
        display: none;
    }

    .page-header__burger {
        margin-right: -4px;
    }

    .header-hero {
        padding-top: 26px;
    }

    .header-hero__main {
        width: 434px;
        margin-top: 9px;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.00002em;
    }

    .header-hero__major {
        max-width: 369px;
        margin-top: 0;
        font-size: 36px;
        line-height: 45px;
    }

    .header-hero__text{
        min-width: 400px;
    }

    .header-hero__description {
        width: 261px;
        margin-top: 21px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.00002em;
    }

    .header-hero__ready {
        width: 210px;
        height: 51px;
        margin-top: -6.5px;
        padding: 17px 22px;
        margin-bottom: 8px;
    }

    .header-hero__create {
        margin-left: 55px;
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.0002em;
    }

    .header-hero__logo:nth-of-type(1) {
        left: 52px;
        top: 230px;
    }

    .header-hero__logo:nth-of-type(2) {
        left: 45px;
        top: 350px;
    }

    .header-hero__logo:nth-of-type(3) {
        left: 31px;
        top: 473px;
    }

    .header-hero__picture_main {
        display: none;
    }
    .header-hero__picture_new {
        display: block;
        position: absolute;
        right: -2px;
        bottom: 3px;
    }

    .header-hero__picture {
        right: -44px;
        bottom: 174px;
        width: 76.7vw;
    }

    .footer-servis {
        display: block;
        margin-top: 8px;
    }

    .footer {
        margin-top: 0px;
    }

    .footer-servis__connect {
        margin-top: 24px;
        display: flex;
    }

    .footer-servis__logo {
        margin: 0;
        margin-left: 59px;
    }

    .footer-img {
        margin-right: 27px;
    }

    .footer-img__logo {
        width: 35px;
        height: 35px;
    }

    .footer-servis__manager {
        margin: 0;
    }

    .footer-row {
        width: 40%;
    }

    .footer-info {
        width: 57%;
    }

    .footer-manager {
        width: 100%;
        margin-left: 1px;
        margin-top: 30px;
    }

    .footer-copy {
        margin-top: 25px;
    }
}

@media (max-width: 479px) {

    .page-header {
        height: 50px;
    }

    .page-header__top {
        padding-top: 16px;
        padding-bottom: 0px;
    }

    .header-nav {
        display: none;
        z-index: -1;
    }

    .header-image {
        width: 130px;
        margin-bottom: 0px;
    }

    .page-header__loupe {
        width: 15.95px;
        height: 15.95px;
        margin-left: 30px;
    }

    .page-header__loupe-image {
        width: 15.95px;
        height: 15.95px;
        margin-left: 0px;
        margin-top: 0.6px;
        background-size: contain;
    }

    .page-header__burger-image {
        width: 21px;
        height: 13px;
        background-size: contain;
    }

    .page-header__burger {
        margin-left: -15px;
    }

    .header-hero {
        padding-top: 10px;
        padding-bottom: 228px;
    }

    .header-hero__main {
        width: 280px;
        margin-top: 23px;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    .header-hero__major {
        max-width: 244px;
        margin-top: 16px;
        line-height: 30px;
        font-size: 24px;
        letter-spacing: 1px;
    }

    .header-hero__description {
        width: 296px;
        margin-left: -8px;
        margin-top: 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
    }

    .header-hero__text {
        min-width: 130px;
        margin-top: 13px;
        font-size: 15px;
        line-height: 128%;
    }

    .header-hero__logo:nth-of-type(1) {
        left: 36px;
        top: 229px;
    }

    .header-hero__logo:nth-of-type(2) {
        left: 30px;
        top: 349px;
    }

    .header-hero__logo:nth-of-type(3) {
        left: 16px;
        top: 472px;
    }

    .header-hero__ready {
        width: 210px;
        height: 51px;
        margin-top: 18.5px;
        padding: 18px 22px;
        margin-bottom: 8px;
    }

    .header-hero__create {
        margin-left: 0;
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
    }

    .header-hero__picture {
        right: -6px;
        bottom: 311px;
        width: 118.7vw;
    }

    .header-hero__picture_new {
        width: 80%;
        right: -77px;
        bottom: 0px;
    }

    .header-hero__creation {
        margin-top: 323px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-image {
        max-width: 278px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-servis__text {
        margin-top: 13px;
        margin-left: auto;
        margin-right: auto;
        font-size: 11.5px;
        line-height: 130%;
        text-align: center;
    }

    .footer-servis__logo {
        margin-top: 36px;
        margin-left: 0px;
    }

    .footer-servis__connect {
        display: block;
        margin-right: 0px;
        text-align: center;
    }

    .footer-info {
        width: 47%;
    }

    .footer-servis__manager {
        justify-content: center;
        margin-left: 26px;
        padding-left: 0px;
    }

    .footer-roster__text {
        max-width: 440px;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
    }

    .footer-roster__tel {
        margin-top: 9px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-roster__rank {
        text-align: left;
    }

    .footer-roster__ranks {
        text-align: center;
    }

    .footer-copy__corp {
        font-size: 12px;
        line-height: 16px;
    }

    .footer-copy {
        margin-top: 33px;
    }

    .footer-manager {
        margin-top: 70px;
    }
}
















/* Переместить до медиа выражений */
.burger-menu {
    /* display: none; */
    margin-left: 100px;
    position: relative;
    width: 280px;
    height: 542px;
    background: #FAFAFA;
    border-radius: 6px;
    background-color: #FAFAFA;
}

.burger-menu__header {
    position: absolute;
    top: 25px;
    right: 6px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
    font-size: 12px;
}

.burger-menu__language {
    padding: 3px;
    font-size: 12px;
    color: #8E8E8E;
    line-height: 12.66px;
    background: transparent;
    border: 0px;
}

.burger-menu__language.active {
    cursor: pointer;
    color: #272525;
    font-weight: 600;
}

.burger-menu__man {
    padding: 2px;
    /* margin-left: 18px; */
    border: none;
    background: transparent;
}

.burger-menu__class {
    padding: 1.88px;
    margin-left: 58.3px;
    background: transparent;
    border: none;
}

.burger-menu__sets {
    /* position: absolute; */


    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 105.5%;
    color: #272525;
}

.burger-menu__all {
    width: 115px;
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 7px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 105.5%;
    color: #FAFBFD;
    text-align: center;
    border-radius: 6px;
    background: #272525;
}

.burger-menu__list {
    /* columns: 2;
    list-style-type: none; */
    white-space: nowrap;
}

.textcols {
    white-space: normal;
	display: inline-block;
	width: 32%;
	vertical-align: top;
}

.textcols:nth-of-type(1) {
    margin-left: 62px;
}

.burger-menu__text {
    text-decoration: none;
}

.burger-menu__clothes{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger-menu__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 105.5%;
    color: #8E8E8E;
}

.burger-menu__text--active {
    font-weight: 700;
    font-size: 12px;
    line-height: 105.5%;
    color: #272525;
    text-decoration: none;
}

.burger-menu__info {
    position: absolute;
    width: 86px;
    height: 15px;
    left: 117px;
    top: 322px;
    font-weight: 500;
    font-size: 14px;
    line-height: 105.5%;
    text-align: center;
    color: #272525;
}

.burger-menu__mail {
    position: absolute;
    width: 133px;
    height: 16px;
    left: 94px;
    top: 380px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration:none;
    color: #454747;
    border-bottom: 1px #454747 solid;
}

.burger-menu__phone {
    margin-top: 200px;
}

.burger-menu__masagers {
    display: flex;
    margin-top: 12px;
}

.burger-menu__image {
    margin-left: 18.18px;
}

.window {
    position: relative;
    margin-left: 20px;
    width: 1300px;
    height: 987px;
    display: flex;
    flex-wrap: wrap;
    background: #FAFAFA;
    box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
    border-radius: 25px;
}

.window__image {
    position: absolute;
    top: 18px;
    right: 17px;
}

.window__picture {
    position: relative;
    width: 43%;
    margin-left: 27px;
    margin-top: 28px;
}

.window__order {
    width: 50%;
}

.window__picture-img {
    width: 318px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

.winwod-img {
    border-radius: 15px;
}

.win__text {
    width: 500px;
    margin-top: 113px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #272525;
}

.color__but {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0 0.5px;
    background: transparent;
    border: none;
    border-radius: 50%;
}

.color {
    margin-top: 20px;
}

.win__price {
    margin-top: 28px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 105.5%;
    color: #272525;
}

.win__txt {
    width: 480px;
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #454747;
}

.size {
    width: 630px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.size__text {
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 105.5%;
    color: #272525;
}

.size__choise {
    width: 147px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.size__right {
    /* position: relative; */
    width: 340px;
}

.size__feature {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.scale {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 105.5%;
    color: #524983;
}

.scale--active {
    font-weight: 600;
    font-size: 16px;
    line-height: 105.5%;
    color: #272525;
}

.size__button {
    display: inline-block;
    position: absolute;
    top: 543px;
    right: 480px;
    padding: 21px 82px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;;
    background-color: #524983;;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

.size__button:hover,
.size__button:focus {
    background-color: #1B886E;
}

.size__button:active {
    background-color: #156B57;
}

.hand__window-img {
    transform: rotate(180deg);
}

.window__line {
    position: absolute;
    top: 270px;
    left: 20px;
    width: 460px;
    display: flex;
    justify-content: space-between;
}

.property {
    position: absolute;
    top: 450px;
    right: 70px;
    width: 352px;
    display: flex;
}

.property__left {
    width: 45%;
}

.property__right {
    width: 55%;
}

.property__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 105.5%;
    padding-bottom: 9px;
    margin-top: 14px;
    border-bottom: 1px solid #524983;
}

.trolley {
    width: 960px;
    height: 429px;
    margin-left: 50px;
    border-radius: 25px;
    background: #e4d990;
}

.trolley__order {
    width: 35%;
    margin-left: 71px;
}

.trolley__text {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #272525;
}

.trolley_txt {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #454747;
}

.trolley__inf {
    width: 264px;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.5%;
    letter-spacing: 0.075px;
    color: #737373;
}

.order__trolley {
    width: 279px;
}









@media (max-width: 1500px) {
    .window {
        width: 960px;
        height: 729px;
    }

    .winwod-img {
        width: 369px;
        height: 428px;
    }

    .winwod-thing {
        width: 73.846px;
        height: 73.846px;
    }

    .window__picture-img {
        width: 236px;
        margin-top: 2px;
    }

    .window__picture {
        margin-left: 22px;
        margin-top: 21px;
    }

    .window__line {
        top: 195px;
        width: 330px;
    }

    .win__text {
        margin-top: 21px;
        font-size: 24px;
        line-height: normal;
    }

    .win__price {
        margin-top: 20px;
        font-size: 19px;
    }
    .win__txt {
        width: 440px;
        margin-top: 20px;
        font-size: 14px;
    }

    .size__button {
        top: 468px;
        right: 313px;
        padding: 16px 76px;
        font-size: 15px;
    }

    .window__image {
        top: 12px;
        right: 10px;
        width: 40px;
        height: 40px;
    }

    .size {
        width: 600px;
    }

    .size__button {
        top: 378px;
    }

    .property {
        top: 305px;
        right: 22px;
        width: 245px;
    }

    .property__text {
        font-size: 11.815px;
    }

    .property__text {
        padding-bottom: 4px;
    }


}


@media (max-width: 999px) {
    .window {
        width: 728px;
        height: 729px;
    }

    .win__text {
        font-size: 18px;
    }

    .window__picture {
        width: 56%;
    }

    .window__order {
        width: 40%;
    }

    .win__text {
        width: 290px;
    }

    .color {
        margin-top: 40px;
    }

    .win__price {
        margin-top: 15px;
    }

    .win__txt {
        width: 245px;
        margin-top: 12px;
    }

    .size__button {
        top: 480px;
        right: 50px;
        padding: 16px 90px;
    }

    .window__image {
        top: -15px;
        right: -15px;
    }

    .size__left {
        display: none;
    }

    .size__text {
        font-size: 16px;
    }

    .size__feature {
        width: 155px;
    }

    .property {
        top: 331px;
        right: 50px;
        width: 245px;
    }

    .property__text {
        padding-bottom: 3px;
    }

    .size {
        width: 180px;
    }
}

@media (max-width: 767px) {

    .hand__window {
        display: none;
    }

    .window__picture {
        width: 100%;
        height: 195px;
        margin-left: 16px;
        margin-top: 16px;
    }

    .window__order {
        width: 100%;
    }

    .window {
        width: 440px;
        height: 808px;
    }

    .winwod-img {
        width: 96%;
        height: 246px;
        object-fit: cover;
    }

    .winwod-thing {
        width: 44px;
        height: 44px;
    }

    .window__picture-img {
        width: 145px;
        margin-top: 4px;
    }

    .window__order {
        margin-top: 0px;
        margin-left: 16px;
    }

    .win__text {
        width: 330px;
        margin-top: 0;
    }

    .color {
        width: 385px;
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }

    .color__but {
        margin-right: 7px;
    }

    .win__txt {
        width: 185px;
        margin-top: 23px;
    }

    .win__price {
        margin-top: 10px;
    }

    /* .size__left {
        display: none;
    } */

    .size__button {
        top: 475px;
        right: 17px;
        padding: 16px 64px;
    }

    .property {
        top: 670px;
        right: 180px;
    }



}


@media (max-width: 479px) {

    .window {
        width: 280px;
        height: 525px;
    }

    .window__picture {
        height: 22.9vw;
        margin-top: 11px;
        margin-left: 9px;
    }

    .window__picture-img {
        display: none;
    }

    .win__text {
        width: 260px;
        margin-top: 0;
    }

    .color__but {
        margin-right: 2px;
    }

    .win__price {
        width: 120px;
        margin-top: 0;
        font-size: 16px;
    }

    .color {
        width: 275px;
    }

    .win__txt {
        width: 245px;
        text-align: center;
        font-size: 12px;
    }

    .window__image {
        width: 28px;
        height: 28px;
        top: -8px;
        right: -8px;
    }

    .size__left {
        display: none;
    }

    .winwod-img {
        height: 157px;
    }

    .size__feature {
        font-size: 14px;
    }

    .size__button {
        top: 422px;
        right: 45px;
    }


}