* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
}

.main-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 32px;
}

.header-bg {
    background: linear-gradient(38.95deg, #9796F0 -10.38%, #FBC7D4 107.56%);
}

.page-header__top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 45px;
    font-size: 18px;
}

.header-nav__list{
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.page-header__profile-btn {
    margin-right: 37px;
    padding:  3px;
    font-size: 18px;
    line-height: 19px;
    color: #8E8E8E;
    background: transparent;
    border: none;
}

.header-image {
    margin-bottom: -12px;
    margin-left: -31px;
}

.page-header__buttons {
    display: flex;
    margin-right: -37px;
    align-items: center;
    color: #8E8E8E;
}

.page-header__button {
    padding: 3px;
    font-size: 18px;
    color: #8E8E8E;
    line-height: 19px;
    background: transparent;
    border: 0px;
}

.page-header__button.active {
    cursor: pointer;
    color: #272525;
    font-weight: 600;
}

.page-header__burger {
    display: none;
}

.page-header__search {
    width: 491px;
    height: 60px;
    margin-right: 4px;
    padding-left: 39px;
    font-size: 16px;
    line-height: 16.88px;
    outline: none;
    border-color: black;
    border-radius: 90px;
    background: url(/img/search.svg) no-repeat left;
    background-size: 4.2% ;
    background-position: 19px;
    border: 4px solid black;
}

.page-header__loupe {
    display: none;
}

.phone {
    display: inline-block;
    margin-right: 6px;
    padding: 20.5px 62px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    color: #EEF1F6;
    background-color: #1FAB8A;
    border-radius: 90px;
}

.phone:hover,
.phone:focus {
    background-color: #1B886E;
}

.phone:active {
    background-color: #156B57;
}

.header-nav {
    display: flex;
    align-items: center;
    max-height: 100px;
    background: rgba(250, 251, 253, 0.44);
}

.header-list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    margin-left: 142.5px;
    margin-top: 2px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #272525;
    list-style-type: none;

}

.header-list__nab {
    text-decoration: none;
    color: #272525;
}

.header-list__nab--active {
    text-decoration: none;
    color: #FAFBFD;
}

.header-text {
    margin-right: 76.5px;
    font-family: 'Neutraface Display';
    font-style: normal;
    font-weight: 900;
    font-size: 38.0443px;
    line-height: 38px;
    text-transform: lowercase;
    color: #3C336C;
}

.img-resize {
    max-height: 100px;
    width: auto;
    margin-right: 100px;
}

.header-list__correct {
    position: relative;
    padding: 39.656px 40.25px;
    margin-left: 40px;
    margin-right: 40px;
    background: #272525;
    border-radius: 6px;
    color: #FAFBFD;
}

.header-list__correct::after {
    position: absolute;
    bottom: -18px;
    left: 0;
    display: block;
    content: '';
    width: 179px;
    height: 8px;
    background-color: #272525;
    border-radius: 6px;
}

.header-hero {
    min-height: 605px;
}

.header-hero__buttons {
    display: flex;
    margin-top: 44.5px;
    margin-left: 152px;
    align-items: center;
    color: #8E8E8E;
}

.header-hero__button.active {
    cursor: pointer;
    align-items: center;
    color: #7981AD;
}

.header-hero__button {
    padding:  4px;
    font-size: 14px;
    color: #524983;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    border: 0px;
}

.header-hero__main {
    max-width: 638px;
    margin: 0;
    margin-top: 15.5px;
    margin-left: 156px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #272525;
}

.header-hero__description {
    max-width: 638px;
    margin-top: 20px;
    margin-left: 156px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.065em;
    color: #454747;
}

.header-hero__creation {
    margin-left: 50px;
}

/* .header-hero__ready {
    display: inline-block;
    width: 194px;
    padding: 18px 43px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.81px;
    color: #FFFFFF;;
    background-color: #3C336C;
    border-radius: 60px;
} */

.header-hero__ready {
    position: absolute;
    width: 280px;
    height: 60px;
    left: 156px;
    top: 560px;
    padding: 18px 43px;
    align-items: center;
    font-weight: 500;
    font-size: 18.5px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #3C336C;
    border-radius: 60px;
}

.header-hero__create {
    position: absolute;
    width: 109px;
    height: 24px;
    left: 481px;
    top: 578px;
    font-size: 17px;
    text-decoration: none;
    color: #524983;
}

.header-hero__picture {
    position: absolute;
    left: 689px;
    top: 188px;

}

.header-hero__pictures {
    position: absolute;
    left: 1146px;
    top: 328px;
}

@media (max-width: 1500px) {

    .header-image {
        width: 293px;
        height: 23.54px;
        margin-left: 0px;
        margin-bottom: -9px;
    }

    .page-header__search {
        width: 295.33px;
        height: 36.35px;
        margin-right: 0px;
        border: 2.40592px solid black;
    }

    .page-header__search::placeholder {
        font-size: 14px;
    }

    .phone {
        padding: 10.54px 37.29px;
        margin-right: 0px;
        text-align: center;
        font-size: 14px;
        line-height: 14.5px;
    }

    .page-header__profile-btn {
        margin: 0;
    }

    .but-image {
        width: 19.95px;
        height: 20px;
        margin: 0px;
    }

    .page-header__button,
    .page-header__buttons {
        font-size: 14px;
    }

    .page-header__button {
        padding: 0;
    }
    .page-header__buttons{
        margin-right: 0;
    }

    .page-header__top {
        padding-top: 24px;
        padding-left: 20px;
        padding-right: 20.3px;
    }

    .header-list{
        margin-left: 2px;
    }

    .header-nav {
        margin-top: -6px;
    }

    .header-list__correct {
        position: relative;
        padding: 40px 20.25px;
        margin-left: 20px;
        margin-right: 20px;
        background: #272525;
        border-radius: 6px;
        color: #FAFBFD;
    }

    .header-list__correct::after {
        position: absolute;
        bottom: -18px;
        left: 0;
        display: block;
        content: '';
        width: 139px;
        height: 8px;
        background-color: #272525;
        border-radius: 6px;
    }

    .header-text {
        width: 194px;
        margin-right: 5px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        text-transform: lowercase;
    }

    .img-resize {
        margin-right: 30px;
    }
}

@media (max-width: 1000px) {
    .header-image {
        width: 326px;
        height: 24px;
        margin-right: 9px;
        margin-bottom: -9px;
        margin-left: -17px;
        margin-right: -8.5px;
    }

    .page-header__search {
        width: 294.33px;
        height: 36.35px;
        margin-right: px;
        border: 2.40592px solid black;
    }

    .page-header__search1 {
        display: none;
    }

    .phone {
        padding: 10.54px 37.29px;
        margin-right: -2px;
        text-align: center;
        font-size: 14px;
        line-height: 14.5px;
    }

    .page-header__button,
    .page-header__buttons {
        font-size: 12px;
    }

    .page-header__buttons{
        margin-right: 0px;
    }

    .page-header__burger {
        display: none;
    }

    .page-header__profile-btn {
        margin: 0px;
        margin-right: 13px;
    }

    .but-image {
        width: 19.95px;
        height: 20px;
        margin-right: 7px;
    }

}

@media (max-width: 786px) {
    .header-nav{
        display: none;
    }
}


@media (max-width: 950px) {

    .page-header__top {
        padding-top: 20px;
    }

    .page-header__logo-link {
        font-size: 0;
    }
    .header-image {
        width: 229px;
        height: 18.38px;
        margin-bottom: 0;
        margin-right: 9px;
        margin-left: -2px;
    }

    .page-header__search {
        display: none;
    }

    .page-header__buttons {
        display: none;
    }

    .page-header__burger {
        display: block;
        margin-right: 12px;
        margin-top: 5px;
        text-decoration: none;
        background-color: transparent;
        border: none;
    }

    .page-header__loupe {
        display: block;
        border: none;
        background-color: transparent;
       }
}

@media (max-width: 600px) {

    .header-image {
        width: 210px;
        height: 16.86px;
    }

    .phone {
        display: none;
    }
}

@media (max-width: 320px) {

    .page-header__top {
        margin-top: -8.5px;
    }

    .header-image {
        width: 130px;
        margin-top: 3px;
        margin-left: 0.1px;
    }

    .page-header__loupe {
        height: 15.95px;
        margin-left: 20px;
        width: 15.95px;
    }

    .page-header__loupe-image {
        width: 15.95px;
        height: 15.95px;
        margin-left: 0px;
        margin-top: 0.6px;
        background-size: contain;
    }

    .page-header__burger-image {
        width: 21px;
        height: 13px;
        background-size: contain;
    }

    .page-header__burger {
        margin-right: -4px;
    }
}

















.burger-menu {
    /* display: none; */
    position: absolute;
    width: 280px;
    height: 542px;
    background: #FAFAFA;
    border-radius: 6px;
    background-color: #FAFAFA;
}

.burger-menu__header {
    display: flex;
    align-items: center;
    margin-left: 89px;
    margin-top: 25px;
    color: #8E8E8E;
    font-size: 12px;
}

.burger-menu__language {
    padding: 3px;
    font-size: 12px;
    color: #8E8E8E;
    line-height: 12.66px;
    background: transparent;
    border: 0px;
}

.burger-menu__language.active {
    cursor: pointer;
    color: #272525;
    font-weight: 600;
}

.burger-menu__man {
    padding: 2px;
    margin-left: 18px;
    border: none;
    background: transparent;
}

.burger-menu__class {
    padding: 1.88px;
    margin-left: 58.3px;
    background: transparent;
    border: none;
}

.burger-menu__sets {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 105.5%;
    color: #272525;
}

.burger-menu__all {
    width: 115px;
    margin-left: 83px;
    padding: 6px 0px 7px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 105.5%;
    color: #FAFBFD;
    text-align: center;
    border-radius: 6px;
    background: #272525;
}

.burger-menu__list {
    columns: 2;
    list-style-type: none;
}

 .burger-menu__text {
    text-decoration: none;
 }

 .burger-menu__clothes{
    list-style-type: none;
 }




