body {
    font-family: 'Gilroy', sans-serif;
}

.main-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 32px;
}

.header-bg {
    background: linear-gradient(38.95deg, #9796F0 -10.38%, #FBC7D4 107.56%);
}

.page-header {
    /* display: flex;
    align-items: center; */
}

.page-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-top: 41px;
    padding-bottom: 45px;
}

.header-nav__list{
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    padding: 0;

}

.but-n1 {
    border: 0px;
    font-size: 18px;
    line-height: 19px;
    color: #8E8E8E;
    background: transparent;
    border: none;
    padding:  3px;
    margin-right: 37px;
}

.page-header__buttons {
    display: flex;
    align-items: center;
    color: #8E8E8E;
}

.page-header__button {
    font-size: 18px;
    color: #8E8E8E;
    line-height: 19px;
    padding: 0px;
    padding:  3px;
    background: transparent;
    border: 0px;
}

.page-header__button.active {
    cursor: pointer;
    color: #272525;
    font-weight: 600;
}

.page-header__search {
    width: 491px;
    height: 60px;
    box-sizing: border-box;
    border-color: black;
    border-radius: 90px;
    background: url(/img/search.svg) no-repeat left;
    background-size: 5% ;
    padding-left: 69px;
    background-position: 19px;
    font-size: 16px;
    line-height: 16.88px;
    outline: none;
    border: 4px solid black;
}

/* .page-header__search::placeholder {
    color: #8E8E8E;
}

.page-header__search:focus {
    border-color: rgb(108, 93, 93);
}

.page-header__search:active {
    border-color: rgb(151, 53, 53);
}

.page-header {
    position: relative;
}

.page-header::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    background-color: red;
}

.page-header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    background-color: blue;
} */


.phone {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    color: #EEF1F6;
    background-color: #1FAB8A;
    border-radius: 90px;
    padding: 20.5px 62px;
}

.header-nav {
    background: rgba(250, 251, 253, 0.44);
    max-height: 100px;

}


.header-long {
    display: flex;
    align-items: center;

    }

.header-list {
    display: flex;
    margin: 0;
    /* justify-content: space-between; */
    align-items: center;
    flex-grow: 1;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #272525;
    list-style-type: none;
    margin-left: 141px;

}

.nab {
    text-decoration: none;
    color: #272525;
}

.nab--active {
    text-decoration: none;
    color: #FAFBFD;
}

.header-text {
    /* position: absolute; */
/* margin-left: 2px; */
font-family: 'Neutraface Display';
font-style: normal;
font-weight: 900;
font-size: 38.0443px;
line-height: 38px;
text-transform: lowercase;
color: #3C336C;
margin-right: 76.5px;
}

.img-resize {
    max-height: 100px;
    width: auto;
    margin-right: 100px;
}

.correct {
    position: relative;
    background: #272525;
    /* box-shadow: 0px 16.0566px 20.0707px -4.01414px  rgba(26, 32, 44, 0.04); */
    border-radius: 6px;
    color: #FAFBFD;
    padding: 39.656px 40.25px;
    margin-left: 40px;
    margin-right: 40px;
}

.correct::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    display: block;
    width: 179px;
    height: 8px;
    background-color: #272525;
    border-radius: 6px;
}

.prize-header {
    min-height: 605px;
    /* background: linear-gradient(38.95deg, #9796F0 -10.38%, #FBC7D4 107.56%); */
}

/* .line {
    width: 179px;
    height: 8px;
    background-color: #272525;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 289px;
} */

.prize-navigation__buttons {
    display: flex;
    align-items: center;
    color: #8E8E8E;
    margin-top: 48px;
    margin-left: 156px;
}


.prize-navigation__button.active {
    cursor: pointer;
    align-items: center;
    color: #7981AD;
}

.prize-navigation__button {
    border: 0px;
    font-size: 14px;
    color: #524983;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    padding:  3px;
    background: transparent;

}
.prize-text {
    max-width: 638px;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 13px;
    margin-left: 156px;
    color: #272525;
}
.prize-text2 {
    max-width: 638px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-top: 20px;
    margin-left: 156px;
    letter-spacing: 0.065em;
    color: #454747;

}

.prize-creation {
    padding-left: 156px;
    padding-top: 42px;
}

.box-active {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 194px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: #FFFFFF;;
    background-color: #3C336C;;
    border-radius: 90px;
    padding: 18px 43px;
    letter-spacing: 0.81px;

}

.box {
    text-decoration: none;
    padding-left: 41px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: #524983;

}

.prize_picture {
display: flex;
}

.picture1 {
    width: 648.69px;
    height: 648.69px;
    padding-left: 700px;
    /* margin-top: -500px; */

}

.picture2 {
    width: 648.69px;
    height: 648.69px;
    padding-left: 7px;

}

@media (max-width: 1500px) {
    body{
        background-color: rgb(63, 96, 107);
    }

}

@media (max-width: 1300px) {
    .header-bg {
        display: none;
    }
}

